<div class="header">
    <!-- <a href="/mgexplorer" class="appname">MGExplorer</a> -->
    <div class="logo-holder logo-3">
      <a href="/mgexplorer">
        <h3>MGExplorer</h3>
      </a>
    </div>
    <div class="header-right">
      <a id="home" href="/mgexplorer">Home</a>
      <a id="explorer" href="/mgexplorer/dashboard">Dashboard</a>
      <a id="login" href="#" >Login</a>
    </div>
</div>